.profile {
  display: flex;
  flex-direction: column;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 74px 0 123px;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 410px;
  max-width: 1280px;
  width: 85%;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border-bottom: 1px solid #424242;
  padding-bottom: 15px;
  margin-bottom: 17px;
  position: relative;
}

.profile__label:last-of-type {
  border: none;
}

.profile__input {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  max-width: 350px;
}

.profile__input:focus {
  outline: none;
}

.profile__input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  max-width: 410px;
  position: absolute;
  top: 36px;
  height: 0;
}

.profile__button-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0px);
  bottom: 72px;
}

.profile__error {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #FF004C;
  text-align: center;
  position: absolute;
  top: 151px;
}

.profile__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  min-height: 45px;
  color: #fff;
  text-align: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.profile__button:disabled {
  background: transparent;
  color: #C2C2C2;
  pointer-events: none;
  cursor: default;
}

.profile__button-exit {
  color: #EE3465;
}

@media (max-width: 769px) {
  .profile__title {
    margin: 236px 0 96px;
  }
}

@media (max-width: 420px) {
  .profile__title {
    margin: 70px 0 80px;
  }
  .profile__form {
    min-width: 260px;
    max-width: 90%;
  }
  .profile__input-error {
    max-width: 260px;
  }
  .profile__error {
    top: 318px;
  }
  .profile__button {
    font-size: 12px;
  }
}