.submit-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  background: #4285F4;
  min-height: 45px;
  color: #FFFFFF;
  text-align: center;
  margin: 69px 0 0;
}

.submit-button.button-submit_disabled {
  background: #F8F8F8;
  color: #C2C2C2;
  cursor: default;
}

@media (max-width: 420px) {
  .submit-button {
    margin: 156px 0 0;
		font-size: 12px;
  }
}