.input {
	display: flex;
	flex-direction: column;
	position: relative;
}

.input__line {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	padding: 0 0 0 15px;
	border: none;
	background: #2F2F2F;
	border-radius: 8px;
	min-height: 46px;
}

.input_invalid {
	color: #EE3465;
}

.input:focus {
	outline: 1px solid #4285F4;
	box-shadow: 0 0 5px #fff;
}

.input__title {
	color: #8B8B8B;
	margin: 0 0 10px;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
}

.input__error {
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #EE3465;
	position: absolute;
	visibility: hidden;
	top: 79px;
	height: 0;
}

.input__error_visible {
	visibility: visible;
}

@media (max-width: 420px) {
	.input {
		min-width: 260px;
	}
}