.switch {
	display: none;
}

.switch:checked+.switch-label::after {
	background-color: #FFFFFF;
	left: 18px;
}

.switch:checked+.switch-label::before {
	background-color: #2BE080;
}

.switch-label {
	cursor: pointer;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	margin: 42px auto 0;
	padding: 0 0 0 48px;
}

.switch-label::before {
	content: '';
	width: 36px;
	height: 20px;
	background-color: #EBEBEB;
	border-radius: 20px;
	position: absolute;
	left: 0;
	top: -1px;
	transition: all 0.4s ease-in;
}

.switch-label::after {
	content: '';
	width: 16px;
	height: 16px;
	background-color: #F5F5F5;
	border-radius: 50%;
	position: absolute;
	top: 1px;
	left: 2px;
	transition: all 0.4s ease-in;
}

@media (max-width: 420px) {
	.switch-label {
		margin-top: 43px;
		font-size: 11px;
	}
}