.cards {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.cards__list {
	margin: 70px auto 10px;
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 364px));
	grid-template-rows: auto;
	column-gap: 24px;
	row-gap: 52px;
	padding: 0 70px;
	max-width: 100%;
}

.button-wrapper {
	margin: 70px 70px 90px;
	max-width: 100%;
	max-width: 1140px;
}

.button-load {
	min-width: 100%;
	min-height: 36px;
	border-radius: 6px;
	background-color: #2F2F2F;
	color: #FFFFFF;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
}

@media (max-width: 1090px) {
	.cards__list {
		grid-template-columns: repeat(2, minmax(300px, 339px));
		column-gap: 30px;
		row-gap: 43px;
		padding: 0 30px;
		margin: 70px auto 30px;
	}

	.button-wrapper {
		margin: 67px 30px 91px;
	}
}

@media (max-width: 767px) {
	.cards__list {
		grid-template-columns: 300px;
		margin: 40px auto 26px;
		padding: 0 10px;
		row-gap: 28px;
	}
}

@media (max-width: 420px) {
	.button-wrapper {
		margin: 65px 10px 80px;
	}
}