.search-form {
	width: 100%;
	margin: 60px auto 10px;
}

.search-form__form {
	padding: 0 70px;
	display: flex;
	flex-direction: column;
}

.search-form__form-container {
	display: flex;
	align-items: center;
	position: relative;
}

.search-form__input {
	border-radius: 40px;
	background-color: #2F2F2F;
	border: none;
	height: 46px;
	width: 100%;
	color: #ffff;
	font-weight: 400;
	font-size: 13px;
	line-height: 17px;
	padding: 0 0 0 22px;
}

.search-form__input:focus {
	outline: 1px solid #4285F4;
	box-shadow: 0 0 5px #fff;
}

.search-form__input::placeholder {
	color: #8B8B8B;
}

.search-form__submit-button {
	background-image: url('../../../images/search-button.svg');
	background-color: transparent;
	width: 80px;
	height: 34px;
	position: absolute;
	right: 6px;
	padding: 0;
}

.search-form__line {
	width: 100%;
	border: 1px solid #424242;
	margin: 69px 0 0;
}

@media (max-width: 769px) {
	.search-form {
		margin: 80px auto 10px;
	}

	.search-form__form {
		padding: 0 30px;
	}

	.search-form__line {
		margin: 50px 0 0;
	}
}

@media (max-width: 420px) {
	.search-form__form {
		padding: 0 14px;
	}

	.search-form__input {
		font-size: 11px;
		height: 46px;
		padding-left: 19px;
	}
}