.about-me {
  width: 100%;
  margin: 110px auto 0;
  display: flex;
  flex-direction: column;
}

.about-me__container {
  padding: 0 70px;
}

.about-me__content {
  display: grid;
  grid-template-columns: minmax(292px, 600px);
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-areas:
    "name avatar"
    "about avatar"
    "description avatar"
    "link avatar";
  justify-content: space-between;
  align-content: start;
  column-gap: 49px;
  margin: 66px 0 0;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
  grid-area: name;
}

.about-me__about {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px 0 0;
  grid-area: about;
}

.about-me__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 26px 0 0;
  grid-area: description;
}

.about-me__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 99px 0 0;
  text-decoration: none;
  align-self: end;
  grid-area: link;
}

.about-me__avatar {
  max-width: 270px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  grid-area: avatar;
}

@media screen and (max-width: 900px) {
  .about-me {
    margin: 90px auto 0;
  }

  .about-me__container {
    padding: 0 50px;
  }

  .about-me__content {
    grid-template-columns: minmax(292px, 600px);
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__about {
    margin: 16px 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__description {
    margin: 20px 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__link {
    margin: 87px 0 0;
  }

  .about-me__avatar {
    max-width: 255px;
  }
}

@media screen and (max-width: 700px) {
  .about-me__content {
    grid-template-columns: 1fr;
    grid-template-rows: 352px repeat(4, min-content);
    grid-template-areas:
      "avatar"
      "name"
      "about"
      "description"
      "link";
  }

  .about-me__name {
    margin: 40px 0 0;
  }

  .about-me__about {
    margin: 20px 0 0;
  }

  .about-me__link {
    margin: 40px 0 0;
  }

  .about-me__avatar {
    max-width: 292px;
    width: 100%;
    justify-self: center;
  }
}

@media screen and (max-width: 620px) {
  .about-me {
    margin: 70px auto 0;
  }

  .about-me__container {
    padding: 0 14px;
  }

  .about-me__content {
    margin: 60px 0 0;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__about {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
  }
}
