.navigation__burger-button {
	display: none;
	background-image: url('../../../../images/burger-menu.svg');
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	width: 44px;
	height: 44px;
}

@media (max-width: 769px) {
	.navigation__burger-button {
		display: block;
	}
}

@media (max-width: 420px) {
	.navigation__burger-button {
		width: 39px;
		background-size: 93%;
	}
}