.navigation__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.navigation__list {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 45px;
	display: flex;
	gap: 16px;
}

.navigation__link {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
}

.navigation__link_active {
	font-weight: 500;
}

@media (max-width: 769px) {
	.navigation__list {
		display: none;
	}

	.navigation__button-profile_invisible {
		visibility: hidden;
		/*display: none;*/
	}
}