@import url('./vendor/normalize.css');
@import url("./vendor/fonts/fonts.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
	text-decoration: none;
	color: #FFFFFF;
	transition: opacity .3s ease;
}

.link:hover {
	opacity: 0.7;
}

.button {
	border: none;
	cursor: pointer;
	transition: opacity .3s ease;
}

.button:hover {
	opacity: 0.8;
}